.home-layout {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    grid-gap: 20px;
    padding-top: 40px;
}

@media (max-width: 700px) {
    .home-layout {
        grid-template-columns: 1fr;
    }
    .home-image {
        order: -1;
    }
}
